:root {
  --panzer-grey: #383e42;
  --usaf-light-grey: #c6c5ca;
  --light-grey: #edf2f8;
  --insignia-white: #f8f9f3;
  --golden-olive: #78923b;
  --white-grey: #eef1ec;
  --ivory: #eff1d9;
  --offwhite: #efeee2;
  --morrow-white: #fefbfd;
  --luftwaffe-green: #596b3f;
  --scorpion-green: #48b851;
  --fluorescent-green: #b6d81a;
  --german-yellow: #e8e589;
  --iraqi-sand: #b89972;
  --khaki: #969163;
  --green-ochre: #a98969;
  --khaki-grey: #8b7f5d;
  --london-grey: #4a555e;
  --medium-sea-grey: #869393;
  --basalt-grey: #576860;
  --silver-grey: #d8dfd5;
  --stone-grey: #959980;
  --olive-grey: #39584f;
  --german-orange: #f05426;
  --legacy-pale-green: #effdf0;
  --legacy-mid-green: #aeb885;
  --legacy-dark-green: #49531f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-strap {
  position: fixed;
  top: 0;
  height: 4rem;
  width: calc(100% - 2em);
  padding: 0 1em;
  color: var(--insignia-white);
  background-color: var(--london-grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-strap > span > button {
  width: 5.5rem;
  height: 2rem;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1.125rem;
  font-weight: 500;
}

.top-strap > span > button:hover {
  border: 1.5px solid whitesmoke;
}

.top-strap > span > button:active {
  border: 1px solid whitesmoke;
  opacity: 0.75;
}

.container {
  display: flex;
  min-height: calc(100vh - 4rem);
  color: var(--panzer-grey);
  background-color: var(--insignia-white);
  margin-top: 4rem;
}

.nav-container {
  background-color: var(--usaf-light-grey);
  height: calc(100vh - 4rem);
  width: 15em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-div {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.nav-div > a {
  margin-top: 1em;
  text-decoration: none;
  cursor: pointer;
  color: var(--london-grey);
  font-weight: 600;
}

.nav-div > a:hover {
  color: var(--panzer-grey);
  font-weight: 800;
}

.page-div {
  padding: 0.75em 1.5em;
  width: 100%;
}

.page-div > h1 {
  margin: 0.66em 0;
}

.home-page > p {
  margin: 1em 0;
}

.outer-circle {
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
}

.outer-circle.active > .inner-circle {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(190, 210, 100);
  background: -moz-radial-gradient(
    circle,
    rgba(190, 210, 100, 1) 0%,
    rgba(85, 103, 63, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(190, 210, 100, 1) 0%,
    rgba(85, 103, 63, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(190, 210, 100, 1) 0%,
    rgba(85, 103, 63, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bed264",endColorstr="#55673f",GradientType=1);
}

.page-div.account-page > .buttons {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin-bottom: 2em;
}

.page-button-grey {
  border: none;
  color: whitesmoke;
  background-color: var(--medium-sea-grey);
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px var(--stone-grey);
  padding: 0.25em 3em;
  margin-bottom: 5px;
  position: relative;
}

.page-button-grey:hover {
  box-shadow: 0px 0px 1.15px 1.15px var(--legacy-pale-green);
}

.page-button-grey:active {
  box-shadow: 0px 0px 1px 1px var(--stone-grey);
}

.modal-background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--usaf-light-grey);
  padding: 1.25em 1.5em;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: relative;
  width: 15em;
  z-index: 15;
}

.modal-div > .modal-close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 1em;
  height: 1em;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-div > form {
  display: flex;
  flex-direction: column;
}

.modal-div > form > label {
  margin-bottom: 5px;
}

.modal-div > form > input {
  margin-bottom: 15px;
}

.error {
  color: var(--german-orange);
  font-style: italic;
  font-size: smaller;
}

.characters > button {
  background-color: var(--basalt-grey);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px var(--panzer-grey);
  color: var(--insignia-white);
  padding: .25rem;
  width: 6rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.characters > button:hover {
  box-shadow: 0px 0px 1.25px 1.25px var(--panzer-grey);
}
  
.characters > button:active {
  box-shadow: inset 0px 0px 1px 1px var(--panzer-grey);
  opacity: 0.9;
}

.character-container {
  border: 1px solid var(--panzer-grey);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.character-heading {
  background-color: var(--panzer-grey);
  color: whitesmoke;
}

.character-container > div {
  display: flex;
  justify-content: flex-start;
}

.character-container > div > span {
  float: left;
}

.character-container > div > span:nth-of-type(1) {
  width: 6em;
}

.character-container > div > span:nth-of-type(n+2) {
  width: 3em;
  text-align: center;
}

.character-container > .character:nth-of-type(odd) {
  background-color: var(--light-grey);
}