{{ define "page" }}
<div class="page-div account-page">
  <h1>Account</h1>
  <div class="buttons">
    {{if .SignedIn}}
    <button
      hx-delete="/account/sign-out"
      hx-trigger="click"
      hx-target=".modal-container-div"
      hx-swap="innerHTML"
      class="page-button-grey"
    >
      Sign Out
    </button>
    {{else}}
    <button
      hx-get="/account/sign-in"
      hx-trigger="click"
      hx-target=".modal-container-div"
      hx-swap="innerHTML"
      class="page-button-grey"
    >
      Sign In
    </button>
    <button
      hx-get="/account/sign-up"
      hx-trigger="click"
      hx-target=".modal-container-div"
      hx-swap="innerHTML"
      class="page-button-grey"
    >
      Sign Up
    </button>
    {{end}}
  </div>
  {{if .SignedIn}} {{ template "characters" .}} {{end}} {{ template "modal" . }}
</div>
{{ end }} {{ define "modal" }}
<div class="modal-container-div"></div>
{{ end }}
