{{ define "characters" }}
<div class="characters">
  <button
    hx-trigger="click"
    hx-post="/account/characters"
    hx-vals='{"str": "10", "int": "10", "wil": "10", "hlt": "10", "agi": "10", "tch": "10", "gun_combat_level": "0", "hand_to_hand_level": "0"}'
    hx-target=".character-container"
    hx-swap="beforeend"
  >
    Add Character
  </button>
  <div class="character-container">
    <div class="character-heading">
      <span>Name</span>
      <span>STR</span>
      <span>INT</span>
      <span>WIL</span>
      <span>HLT</span>
      <span>AGI</span>
    </div>
  </div>
</div>
{{ end }}
