{{ define "characters" }}
<div class="characters">
  <h2>Characters</h2>
  <button
    hx-trigger="click"
    hx-post="/account/characters"
    hx-vals='{"str": "10", "int": "10", "wil": "10", "hlt": "10", "agi": "10", "tch": "10", "gun_combat_level": "0", "hand_to_hand_level": "0"}'
    hx-target=".character-container"
    hx-swap="beforeend"
  >
    Add Basic
  </button>
  <button
    hx-trigger="click"
    hx-post="/account/characters"
    hx-vals='{"str": "14", "int": "10", "wil": "10", "hlt": "10", "agi": "12", "tch": "10", "gun_combat_level": "4", "hand_to_hand_level": "2"}'
    hx-target=".character-container"
    hx-swap="beforeend"
  >
    Add Grunt
  </button>
  <div class="characters-container">
    <div class="fade"></div>
    <div class="character-container">
      <div class="character-heading">
        <span>Name</span>
        <span>STR</span>
        <span>INT</span>
        <span>WIL</span>
        <span>HLT</span>
        <span>AGI</span>
        <span>TCH</span>
        <span>Gun</span>
        <span>Melee</span>
      </div>
      {{range .Characters}}
      {{ template "character" .}}
      {{end}}
    </div>
  </div>
</div>
{{ end }}
