{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
      integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.4"
      integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg"
      crossorigin="anonymous"
    ></script>
  </head>
  <body hx-ext="response-targets">
    {{ template "top-strap" . }}
    <div class="modal-container-div"></div>
    <div class="container">
      <div class="nav-container nav-div">
        <a
          hx-get="/"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Home
        </a>
        <a
          hx-get="/reference"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Reference
        </a>
        <a
          hx-get="/tools"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Tools
        </a>
        <a
          hx-get="/gear"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Gear
        </a>
        {{ if .SignedIn }}
        <a
          hx-get="/account"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Account
        </a>
        {{ end }}
      </div>
      {{ .Page }}
    </div>
  </body>
</html>
{{ end }}
