<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="top-strap">
      <span class="outer-circle active">
        <span class="inner-circle">
        </span>
      </span>
      <span>Signed In</span>
    </div>
    <div class="container">
      <div class="nav-container nav-div">
        <a
          hx-get="/"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Home
        </a>
        <a
          hx-get="/account"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Account
        </a>
      </div>
      {{ template "page" . }}
    </div>
  </body>
</html>