<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="top-strap"></div>
    <div class="container">
      <div class="nav-container nav-div">
        <a
          hx-get="/"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Home
        </a>
        <a
          hx-get="/account"
          hx-trigger="click"
          hx-target=".page-div"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          Account
        </a>
      </div>
      {{ template "page" . }}
    </div>
  </body>
</html>