{{ define "page" }}
<div class="page-div reference-page">
  <h1>Reference</h1>
  <div class="action-table">
    <div>Action Times</div>
    <div>
      <span>2</span>
      <span>Assume Firing Stance</span>
    </div>
    <div>
      <span>1</span>
      <span>Assume Hip Firing Stance</span>
    </div>
    <div>
      <span>1</span>
      <span>Brace Weapon</span>
    </div>
    <div>
      <span>1</span>
      <span>Look Over or Around Cover</span>
    </div>
    <div>
      <span>1</span>
      <span>Standing to Kneeling</span>
    </div>
    <div>
      <span>2</span>
      <span>Standing to Prone</span>
    </div>
    <div>
      <span>1</span>
      <span>Kneeling to Prone</span>
    </div>
    <div>
      <span>2</span>
      <span>Prone to Kneeling</span>
    </div>
    <div>
      <span>1</span>
      <span>Cock Revolver or Pistol</span>
    </div>  
    <div>
      <span>4</span>
      <span>Take Bullet or Magazine from Pouch</span>
    </div>    
    <div>
      <span>6</span>
      <span>Replace Bullet or Magazine to Pouch</span>
    </div>    
    <div>
      <span>3</span>
      <span>Bayonet to Weapon</span>
    </div>
    <div>
      <span>2</span>
      <span>Kick in a door</span>
    </div>
    <div>
      <span>3</span>
      <span>Open a door</span>
    </div>
    <div>
      <span>6</span>
      <span>Open a window</span>
    </div>
    <div>
      <span>6</span>
      <span>Climb through window</span>
    </div>
    <div>
      <span>4</span>
      <span>Pick up/put down weapon</span>
    </div>
    <div>
      <span>3</span>
      <span>Draw pistol, shoulder/military holster</span>
    </div>
    <div>
      <span>2</span>
      <span>Draw pistol, police holster</span>
    </div>
    <div>
      <span>+2</span>
      <span>Draw concealed pistol</span>
    </div>
  </div>
</div>
{{ end }}
