{{ define "sign-up-modal" }}
<div class="modal-background">
  <div class="modal-div">
    <button
      class="modal-close"
      hx-on:click="this.closest('.modal-container-div').innerHTML = ''"
    >
      &times;
    </button>
    <form hx-post="/account/sign-up" hx-target=".modal-error">
      <label for="email">Email</label>
      <input type="email" name="email" required />
      <label for="password">Password</label>
      <input type="password" name="password" minlength="8" required />
      <input class="page-button-grey" type="submit" />
    </form>
    <div class="modal-error"></div>
  </div>
</div>
{{ end }}
